#Thu Apr 21 22:07:38 PDT 2016
elasticsearch.cluster=flash-cluster
memory.min.threshold=20
kafka.parallelism=1
kafka.topics=flash
cpu.min.threshold=20
kafka.broker=54.183.226.1
spark.app.name=Flash
memory.max.threshold=777
spark.app.master=local[4]
kafka.receivers.group=flash-receivers
mongodb.host=52.11.76.17
elasticsearch.host=52.34.84.102
kafka.polling=2
mongodb.db=flash
cpu.max.threshold=555
mongodb.port=27017
mongodb.collection=flash
