spark.app.name=Flash
spark.app.master=local[4]

#

kafka.broker=52.25.194.6
kafka.receivers.group=flash-receivers
kafka.topics=flash
kafka.parallelism=1
kafka.polling=2

#

cpu.max.threshold=95
cpu.min.threshold=0
memory.max.threshold=95
memory.min.threshold=0

#

elasticsearch.host=52.34.84.102
elasticsearch.cluster=flash-cluster

#

mongodb.host=52.11.76.17
mongodb.port=27017
mongodb.db=flash
mongodb.collection=flash

#




